body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    background: black;
    color:white; 
    font-size: 20px;
    padding:20px;
}
.container{
    margin:0px 30px;    
}
h2{ text-align:center;}
input{ width:90vw;
height:40px;
margin-bottom: 20px;}
button{
    width:200px;
    height:40px;
    background-color: black;
    color:white;
    margin-bottom: 10px;
}